*.ps1 text eol=crlf whitespace=cr-at-eol
*.bat text eol=crlf whitespace=cr-at-eol
*.cmd text eol=crlf whitespace=cr-at-eol
*.sln text eol=crlf whitespace=cr-at-eol
*.rc text eol=crlf whitespace=cr-at-eol
*.reg text eol=crlf whitespace=cr-at-eol
*.inf text eol=crlf whitespace=cr-at-eol
*.ini text eol=crlf whitespace=cr-at-eol
